/* Import des polices */
@font-face {
	font-family: 'Bukhari Script';
	src: url('/font/Bukhari Script.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Brutalista:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Tout ce que je veux appliquer à l'ensemble du site */

:root {
	--light-vibrant: #f0f0f0;
	--dark-vibrant: #333333;
	--light-muted: #cccccc;
	--dark-muted: #666666;
	--muted: #999999;
	--vibrant: #ff6b6b;
	--font-brutalista: 'Brutalista', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
	color: var(--light-vibrant);
	background-color: var(--dark-vibrant);
}

a {
	color: var(--muted);
	text-decoration: none;
	transition: color 0.1s ease;
}

a:hover {
	color: var(--light-muted);
	text-decoration: underline;
}

* {
	box-sizing: border-box;
	font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}
