/* Tout ce que je veux appliquer à l'ensemble du site */

:root {
	--light-vibrant: #f0f0f0;
	--dark-muted: #333333;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
	color: var(--light-vibrant);
	background-color: var(--dark-muted);
}

a {
	color: var(--vibrant);
	text-decoration: none;
	transition: color 0.1s ease;
}

a:hover {
	color: color-mix(in srgb, var(--vibrant) 50%, #fff);
	text-decoration: underline;
}

* {
	box-sizing: border-box;
	font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
}
